# --- Unity generated #
Temp/
Library/

# --- IDE generated #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
Xcode
Xcode/*
*.idea
*.vs

# --- OS generated #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*thumbs.db*
desktop.ini

# --- Custom #